.container{
    width:100%;
    color:grey!important;
    padding:20px
}
.content{
    width: 300px
}
.label{
    font-weight: bold;

}
.card{
    width:100%
}
mat-card-content{
  margin:16px;
  color:grey!important;
}